In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def extract_phrases(complaint):
    """
    Return a list of unique phrases in one complaint
    """
    # get sentences
    sen = re.sub(r',|\.|\:|\;|\?|\!',' ,', complaint) 
    
    #remove digits
    sen = ' '.join(' ' if any(c.isdigit() for c in s) else s for s in sen.split()) 
    s_list = re.split(r',|\.|\:|\;|\?|\!|\_', sen)
    temp = []
    
    #get phrases
    for s in s_list:
        s = re.sub(r'[^\w\s]',' ', s)
        words = s.split()
        for i in range(5):
            for j in range(len(words) - i):
                temp.append(' '.join(words[j:j + i + 1]))
    
    #with no duplicates
    return list(set(temp))

In [3]:
def phrase_table(start, end):
    '''
    Return table with phrases and corresponding complaint ids
    '''
    phrases = []
    cids = []

    for i in range(start, end):
        cid = df['ID'][i]
        temp_phrases = extract_phrases(df['Complaint'][i])  #extract
        temp_ids = [cid] * len(temp_phrases)
        phrases = phrases + temp_phrases
        cids = cids + temp_ids
    
    d = pd.DataFrame({'Phrase': phrases})
    d['ID'] = cids
    return d

## Extract Phrases and Get Counts

In [4]:
df_recall = pd.read_csv('Complaint_Verified_Encoded.csv')

In [5]:
df_phrase = phrase_table(0, 1249653)

In [6]:
df_phrase = pd.merge(df_phrase, df_recall, on = 'ID', how = 'left')

In [7]:
# group by phrase and recall class
df_count = df_phrase.groupby(by = ['Phrase', 'Recall']).size().reset_index(name = 'Counts')
df_count.to_csv('totalcount.csv', index = False)

In [9]:
d = pd.read_csv('totalcount.csv')
d0 = d[d.Recall == 0]
d1 = d[d.Recall == 1]

In [10]:
dffreq = pd.merge(d0,d1, how = 'outer', on='Phrase')
dffreq = dffreq[['Phrase','Non-recall Counts','Recall Counts']]
dffreq = dffreq.sort_values('Phrase') # sort alphabetically

In [11]:
dffreq.fillna(0, inplace = True) # fill nan's with zero

In [12]:
dffreq['Non-recall Counts'] = dffreq['Non-recall Counts'].astype(int)
dffreq['Recall Counts'] = dffreq['Recall Counts'].astype(int)
dffreq['Total Counts'] = dffreq['Non-recall Counts'] + dffreq['Recall Counts']

In [13]:
dffreq.to_csv('Frequency_Table.csv', index = False)

In [15]:
dffreq = dffreq[dffreq['Total Counts'] >= 10] 
dffreq.head()

       Phrase  Non-recall Counts  Recall Counts  Total Counts
0           A              61247         716654        777901
1         A A                 39            227           266
17      A A C                  1             12            13
45  A A MONTH                  1             11            12
77      A AAA                  4             55            59

In [17]:
dffreq.reset_index(drop = True, inplace = True)

## Calculate Phrase Score

In [25]:
def calc_ratio(df, p, name):
    nrc = df['Non-recall Counts'][i]
    rc = df['Recall Counts'][i]
    
    # inf if all are recalled
    if nrc == 0: 
        df.set_value(i, name, float('Inf'))
    
    # 0 if all are non recalled
    elif rc == 0:
        df.set_value(i, name, 0)
    else:
        df.set_value(i, name, rc/nrc)

In [26]:
for i in range(len(dffreq)):
    p = dffreq.Phrase[i]
    calc_ratio(dffreq, p, 'Ratio')

In [28]:
dffreq['log'] = dffreq.Ratio.apply(lambda x: np.log(x))

C:\Users\Xiaoxin Xu\AppData\Local\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
dffreq.head()

,Phrase,Non-recall Counts,Recall Counts,Total Counts,Ratio,log
0,A,61247,716654,777901,11.701047,2.459678
1,A A,39,227,266,5.820513,1.761388
2,A A C,1,12,13,12.000000,2.484907
3,A A MONTH,1,11,12,11.000000,2.397895
4,A AAA,4,55,59,13.750000,2.621039
5,A AAA SERVICE,0,13,13,inf,inf
6,A ABLE,1,9,10,9.000000,2.197225
7,A ABLE TO,1,9,10,9.000000,2.197225
8,A ABNORMAL,0,19,19,inf,inf
9,A ABOUT,6,80,86,13.333333,2.590267
10,A ABOUT A,1,26,27,26.000000,3.258097
11,A ABOUT A YEAR,0,14,14,inf,inf
12,A ABRUPT,1,20,21,20.000000,2.995732
13,A ABS,1,96,97,96.000000,4.564348
14,A ABS PROBLEM,0,13,13,inf,inf
15,A AC,4,18,22,4.500000,1.504077
16,A ACADIA,1,23,24,23.000000,3.135494
17,A ACCIDENT,104,1456,1560,14.000000,2.639057
18,A ACCIDENT AND,10,103,113,10.300000,2.332144
19,A ACCIDENT AND THE,4,24,28,6.000000,1.791759
20,A ACCIDENT AS,2,14,16,7.000000,1.945910
21,A ACCIDENT AT,0,10,10,inf,inf
22,A ACCIDENT BECAUSE,3,43,46,14.333333,2.662588
23,A ACCIDENT BECAUSE OF,1,23,24,23.000000,3.135494
24,A ACCIDENT BECAUSE OF THIS,0,12,12,inf,inf
25,A ACCIDENT BUT,1,23,24,23.000000,3.135494
26,A ACCIDENT DUE,1,26,27,26.000000,3.258097
27,A ACCIDENT DUE TO,1,26,27,26.000000,3.258097
28,A ACCIDENT DUE TO THIS,0,10,10,inf,inf
29,A ACCIDENT FROM,1,13,14,13.000000,2.564949
...,...,...,...,...,...,...
2534616,ZONE TO HAVE,0,19,19,inf,inf
2534617,ZONE VENTILATION,1,19,20,19.000000,2.944439
2534618,ZONE VENTILATION SYSTEMS,1,19,20,19.000000,2.944439
2534619,ZONE WAS,0,20,20,inf,inf
2534620,ZONE WHEN,7,64,71,9.142857,2.212973
2534621,ZONE WHEN THE,5,13,18,2.600000,0.955511
2534622,ZONE WHERE,1,40,41,40.000000,3.688879
2534623,ZONE WHERE THEY,1,12,13,12.000000,2.484907
2534624,ZONE WHICH,2,9,11,4.500000,1.504077
2534625,ZONE WHILE,0,12,12,inf,inf
2534626,ZONE WITH,4,50,54,12.500000,2.525729
2534627,ZONE WITH NO,1,12,13,12.000000,2.484907
2534628,ZONES,17,131,148,7.705882,2.041984
2534629,ZONES AND,1,18,19,18.000000,2.890372
2534630,ZOO,2,21,23,10.500000,2.351375
2534631,ZOOM,4,33,37,8.250000,2.110213
2534632,ZOOM ZOOM,3,7,10,2.333333,0.847298
2534633,ZOOMED,2,36,38,18.000000,2.890372
2534634,ZOOMING,3,38,41,12.666667,2.538974
2534635,ZOOMING BY,0,17,17,inf,inf
2534636,ZOPS,1,12,13,12.000000,2.484907
2534637,ZR,14,23,37,1.642857,0.496437
2534638,ZTS,5,80,85,16.000000,2.772589
2534639,ZTS AND,1,10,11,10.000000,2.302585
2534640,ZTW,0,11,11,inf,inf
2534641,ZUMA,16,18,34,1.125000,0.117783
2534642,ZURICH,0,11,11,inf,inf
2534643,ZXW,1,20,21,20.000000,2.995732
2534644,ZXW STATION,0,10,10,inf,inf
2534645,ZXW STATION WAGON,0,10,10,inf,inf

In [30]:
dffreq.to_csv('Phrase_Ratio_05_14.csv')

In [31]:
# 5 seperate files w/ diff phrase len

phrase = dffreq.Phrase
dffreq['wordcount'] = dffreq.Phrase.apply(lambda x: len(x.split()))
dffreq[dffreq.wordcount == 1].to_csv('One_Word_Phrase_w_Score.csv', index = False)
dffreq[dffreq.wordcount == 2].to_csv('Two_Words_Phrase_w_Score.csv', index = False)
dffreq[dffreq.wordcount == 3].to_csv('Three_Words_Phrase_w_Score.csv', index = False)
dffreq[dffreq.wordcount == 4].to_csv('Four_Words_Phrase_w_Score.csv', index = False)
dffreq[dffreq.wordcount == 5].to_csv('Five_Words_Phrase_w_Score.csv', index = False)

## Calculate Complaint Score

In [5]:
dffreq = dffreq[dffreq.log > 1] 
phrase = dffreq.Phrase
phrase_ratio = pd.Series(dffreq.log.values, index = dffreq.Phrase).to_dict()

In [9]:
def calc_comp_score(filename):
    df = pd.read_csv(filename)
    df = df[df.Phrase.isin(phrase)]
    df['log'] = df.Phrase.apply(lambda x: phrase_ratio[x])
    df = df.groupby(by = ['ID'])['log'].sum().reset_index(name = 'Ratio')
    return df

In [ ]:
df_ratio = calc_comp_score('phrase.csv')
#df_ratio = pd.merge(df_recall, df_ratio, how = 'left', on = 'ID')
df_ratio.Ratio = df_ratio.Ratio.fillna(0)
df_ratio.to_csv('Complaints_Score_05_14.csv')